@page
@model Economy.Web.Pages.CategoriesModel

@{
    ViewData["Title"] = "Categories";
}

<div>
    <div id="ordering-container">
        <div class="btn-group" role="group" aria-label="Ordering">
            @foreach (var ordering in Enum.GetValues<CategoriesModel.CategoriesOrdering>())
            {
                <input type="radio" class="btn-check" name="Ordering" id="orderingRadio_@ordering" value="@ordering" @(Model.Ordering == ordering ? "checked" : "") autocomplete="off">
                <label class="btn btn-outline-primary" for="orderingRadio_@ordering">@ordering</label>
            }
        </div>
        <button type="button" id="reload-button" class="btn btn-primary">Reload</button>
    </div>
</div>

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicCategories" />
</div>