@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.CategoriesModel

@{
    ViewData["Title"] = "Categories";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(CategoriesModel.CategoriesOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="Dynamic/DynamicCategories" />
</div>