::deep .offcanvas-chat {
    --bs-offcanvas-height: 40vh;
}

.chat-buttons-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    z-index: 1046;
}

    .chat-buttons-container ::deep .chat-button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1046;
    }

.messageInput {
    width: 70%;
    padding: 5px;
}

.sendButton {
    margin-left: 5px;
    padding: 5px 10px;
}

#connectionStatus {
    font-weight: bold;
    margin-bottom: 10px;
}

    #connectionStatus span {
        color: red;
    }

        #connectionStatus span.connected {
            color: green;
        }

        #connectionStatus span.reconnecting {
            color: orange;
        }

.system-message {
    color: gray;
    font-style: italic;
}

.own-message {
    color: blue;
}