@page
@model Economy.Web.Pages.ConversionsModel

@{
    ViewData["Title"] = "Conversions";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(ConversionsModel.ConversionsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicConversions" />
</div>