@page
@model Economy.Web.Pages.CurrenciesModel

@{
    ViewData["Title"] = "Currencies";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(CurrenciesModel.CurrenciesOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicCurrencies" />
</div>