@page
@model Economy.Web.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(EventsModel.EventsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicEvents" />
</div>