@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.PlansModel

@{
    ViewData["Title"] = "Plans";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(PlansModel.PlansOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="Dynamic/DynamicPlans" />
</div>