@page
@model Economy.Web.Pages.PlansModel

@{
    ViewData["Title"] = "Plans";
}

<div>
    <button id="reload-button" class="btn btn-primary">Reload</button>
</div>

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicPlans" />
</div>