@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.PlanTotalsModel

@{
    ViewData["Title"] = "Plan Totals";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(PlanTotalsModel.PlanTotalsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="Dynamic/DynamicPlanTotals" />
</div>