@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PrivacyModel
@inject IHostEnvironment HostEnvironment
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post" asp-page-handler="Save" class="form">
    <button type="submit" class="btn btn-primary">Save state</button>
</form>

@if (HostEnvironment.IsDevelopment())
{
    <form method="post" asp-page-handler="UploadUserDataFromFile" class="form">
        <button type="submit" class="btn btn-secondary">Upload user data from file</button>
    </form>

    <form method="post" asp-page-handler="CopyUserDataToFile" class="form">
        <button type="submit" class="btn btn-secondary">Copy user data to file</button>
    </form>
}