@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.TransactionsModel

@{
    ViewData["Title"] = "Transactions";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(TransactionsModel.TransactionsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="Dynamic/DynamicTransactions" />
</div>