@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.TransfersModel

@{
    ViewData["Title"] = "Transfers";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(TransfersModel.TransfersOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicTransfers" />
</div>