@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Economy.Web.Pages.TransactionsModel

@{
    ViewData["Title"] = "Transactions";
}

<div>
    <button id="reload-button" class="btn btn-primary">Reload Transactions</button>
</div>

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicTransactions" />
</div>