@page
@model Economy.Web.Pages.TranscriptionTestModel
@{
}

<button id="transcribeButton">Transcribe Audio</button>
<div id="statusBar">Ready</div>
<div id="transcriptionResult"></div>


@section Scripts {
    <script src="~/js/transcription.js"></script>
}
