@page
@model Economy.Web.Pages.WalletAuditsModel

@{
    ViewData["Title"] = "Wallet Audits";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(WalletAuditsModel.WalletAuditsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicWalletAudits" />
</div>