@page
@model Economy.Web.Pages.WalletsModel

@{
    ViewData["Title"] = "Wallets";
}

<partial name="_Ordering" model="((int)Model.Ordering, typeof(WalletsModel.WalletsOrdering))" />

<div id="dynamic-container" class="mt-4">
    <partial name="DynamicWallets" />
</div>