@model Economy.Web.Pages.BranchesModel

<partial name="_DynamicUniqueIdentifier" />

<div class="records">
    <ul>
        <partial name="Dynamic/DynamicBranches.Branch" model="@(Model, 0)" />
    </ul>
</div>