@model Economy.Web.Pages.PlanTotalsModel
@using Economy.Implementation.Factories
@using Economy.Memory.Containers.State
@using Economy.Memory.Mathematics
@using Economy.Memory.Tools
@inject IReadOnlyStateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
    var records = PlansMathematics.CreateRecords(state);
    var (totalsByPlanId, _, grandTotal) = PlansMathematics.CalculateTotals(state, records);
    var totals = Model.PlanId.HasValue ? totalsByPlanId[Model.PlanId.Value] : grandTotal;
}

<partial name="_DynamicUniqueIdentifier" />

@if (Model.PlanId.HasValue)
{
    <h4>Plan Totals for Plan @Model.PlanId</h4>
    <div>
        <a asp-page="/PlanRecords" asp-all-route-data='new Dictionary<string, string> { { "PlanId", Model.PlanId.Value.ToString() } }'>Go to Records</a>
    </div>
}
else
{
    <h4>All Plan Totals</h4>
}

<div class="table-fixed-header omt-4">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Record</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (date, _, balance, record) in totals.Records.OrderBy(x => Model.Ordering switch
                  {
                      PlanTotalsModel.PlanTotalsOrdering.Date => (IComparable)x.date,
                      PlanTotalsModel.PlanTotalsOrdering.DateDesc => DateTime.MaxValue - x.date.ToDateTime(),
                      _ => throw new ArgumentOutOfRangeException()
                  }))            {
                <tr>
                    <td class="data-info">@date</td>
                    <td class="data-info">@record.ToDetails(state.Repositories, Model.PlanId)</td>
                    <td class="data-record">@balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>