<div class="chat-buttons-container">
    <!-- Adds a new button and a new offcanvas dialog -->
    <button class="btn btn-secondary chat-button" type="button">
        <i class="fas fa-plus"></i>
    </button>
</div>
