@page
@model Economy.Web.Pages.EventsModel
@using Economy.AiInterface.Scope
@using OneShelf.Common
@inject StateFactory StateFactory

@{
    var state = await StateFactory.Get();
}

@foreach (var (@event, i) in state.Events.WithIndices().Reverse())
{
    <p>
        @i. @(@event.ToDetails(state.Repositories))
    </p>
}