@page
@model Economy.Web.Pages.EventsModel
@using Economy.AiInterface.Scope
@inject StateFactory StateFactory

@{
    var state = await StateFactory.Get();
}

@foreach (var @event in state.Events)
{
    <p>
        @(@event.ToDetails(state.Repositories))
    </p>
}