.border-top {
    border-top: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Header styling */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    /* Additional styles */
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: 0;
    width: 250px; /* Adjust as needed */
    overflow-y: auto; /* Allow the sidebar to scroll if its content overflows */
    z-index: 950;
    /* Additional styles */
}

/* Main content styling */
.main-content {
    padding: 20px;
    margin-top: var(--header-height);
    padding-bottom: calc(var(--footer-height) + 10px);
}

@media (min-width: 768px) {
    .main-content {
        margin-left: 250px; /* Adjust to match the sidebar width */
    }
}

.footer {
    /* No fixed positioning needed */
    width: 100%;
    line-height: var(--footer-height);
    position: fixed;
    bottom: 0;
}

.offcanvas-menu {
    --bs-offcanvas-width: 270px;
}

.btn-connection-indicator {
    width: 32px; /* Larger clickable area */
    height: 32px; /* Larger clickable area */
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin-left: -0.5rem;
}

    .btn-connection-indicator::before {
        content: '';
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px; /* Visible circle size */
        height: 14px; /* Visible circle size */
        border-radius: 50%;
        background-color: orange; /* Default state */
    }

    .btn-connection-indicator.connected::before {
        background-color: green;
    }

    .btn-connection-indicator.connecting::before {
        background-color: orange;
    }

    .btn-connection-indicator.disconnected::before {
        background-color: red;
    }
