@using Economy.Web.Services
@inject SessionAvailability SessionAvailability

@if (SessionAvailability.IsSessionAvailable())
{
    <button id="connectionIndicator" class="btn btn-connection-indicator connecting"></button>
}