div.animated-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: black;
    align-items: center; /* Center the .animation div vertically */
    z-index: -1;
}

    div.animated-background div.animation {
        position: absolute;
        width: 100%;
        max-height: 49px; /* Set the maximum height */
        height: 100%;
        background-image: url('img/one-compressed.png');
        opacity: 0.8;
    }