@model FaqModel.FaqNode

<ul>
    @foreach (var child in Model.Children)
    {
        if (child is FaqModel.FaqFile file)
        {
            <li>
                <a asp-page="/FAQ" asp-route-filePath="@file.Path">@file.Title</a>
            </li>
        }
        else
        {
            <li>
                <strong>@child.Title</strong>
                @await Html.PartialAsync("_RenderFaqNode", child)
            </li>
        }
    }
</ul>