<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Basics">Basics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Plans">Plans</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Overview">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Events">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Report1">Report 1 - Perspective</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Report2">Report 2 - Transactions</a>
    </li>
    @if (User.Identity?.IsAuthenticated == true)
    {
        // todo: think about vertical or horizontal mode and see why these buttons are different
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Profile">Hello, @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Profile" asp-page-handler="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Profile" asp-page-handler="Login">Login with Google</a>
        </li>
    }
</ul>