@page
@model Economy.Web.Pages.EventsModel
@using Economy.Engine
@using Economy.Memory.Containers.State
@inject StateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
}

@foreach (var @event in state.Events.AsEnumerable().Reverse())
{
    <p>
        @(@event.GetRevision()). @(@event.ToDetails(state))
    </p>
}