@model Economy.Web.Pages.CurrenciesModel
@using Economy.Implementation.Factories
@using Economy.Memory.Containers.State
@using Economy.Memory.Models.State.Root
@inject IReadOnlyStateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
}

<partial name="_DynamicUniqueIdentifier" />

<ul>
    @foreach (var entity in state.Repositories.Currencies.GetAll().OrderBy<Currency, IComparable>(x => Model.Ordering switch
              {
                  CurrenciesModel.CurrenciesOrdering.Id => x.Id,
                  CurrenciesModel.CurrenciesOrdering.IdDesc => -x.Id,
                  CurrenciesModel.CurrenciesOrdering.LongName => x.LongName.ToLowerInvariant().Trim(),
                  CurrenciesModel.CurrenciesOrdering.Abbreviation => x.Abbreviation.ToLowerInvariant().Trim(),
                  _ => throw new ArgumentOutOfRangeException()
              }))
    {
        <li>
            @entity.ToDetails(state.Repositories)
        </li>
    }
</ul>