@model Economy.Web.Pages.EventsModel
@using Economy.Engine.Services
@using Economy.Memory.Containers.State
@using Economy.Memory.Models.State.Root
@inject IStateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
}

<input type="hidden" id="uniqueIdentifier" value="@state.Events.Count" />

@foreach (var transfer in state.Repositories.Events.GetAll().OrderBy<Event, IComparable>(x => Model.Ordering switch
          {
              EventsModel.EventsOrdering.Id => x.Id,
              EventsModel.EventsOrdering.IdDesc => -x.Id,
              EventsModel.EventsOrdering.Date => x.Date,
              EventsModel.EventsOrdering.DateDesc => x.Date.OppositeComparable,
              _ => throw new ArgumentOutOfRangeException()
          }))
{
    <p>
        @transfer.ToDetails(state.Repositories)
    </p>
}