@page
@model Economy.Web.Pages.PlansModel
@using Economy.Engine
@using Economy.Memory.Containers.State
@inject StateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
    var planTree = state.Repositories.Plans.GetPlanTree();
}

<div class="table-fixed-header">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Plan ID</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (plan, depth) in planTree)
            {
                <tr>
                    <td style="padding-left:@(depth * 20)px;">
                        @plan.Id. @plan.Name
                        @if (plan.SpecialNotes != null)
                        {
                            <div>@plan.SpecialNotes</div>
                        }
                    </td>
                    <td>@plan.Schedule?.ToDetails()</td>
                </tr>
            }
        </tbody>
    </table>
</div>