@model Economy.Web.Pages.WalletAuditsModel
@using Economy.Implementation.Factories
@using Economy.Memory.Containers.State
@using Economy.Memory.Models.State.Root
@inject IReadOnlyStateFactory<State> StateFactory

@{
    var state = await StateFactory.GetState();
}

<partial name="_DynamicUniqueIdentifier" />

@foreach (var entity in state.Repositories.WalletAudits.GetAll().OrderBy<WalletAudit, IComparable>(x => Model.Ordering switch
          {
              WalletAuditsModel.WalletAuditsOrdering.Id => x.Id,
              WalletAuditsModel.WalletAuditsOrdering.IdDesc => -x.Id,
              WalletAuditsModel.WalletAuditsOrdering.CheckDateAndTime => x.CheckDateAndTime,
              WalletAuditsModel.WalletAuditsOrdering.CheckDateAndTimeDesc => DateTime.MaxValue - x.CheckDateAndTime,
              _ => throw new ArgumentOutOfRangeException()
          }))
{
    <p>
        @entity.ToDetails(state.Repositories)
    </p>
}
