html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.dynamic-reloading-reloading {
    position: relative;
}

    .dynamic-reloading-reloading::before {
        background-color: rgba(200, 200, 200, .5);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .dynamic-reloading-reloading::after {
        content: ' ';
        position: fixed;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        border: 4px solid #fff;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: dynamic-reloading-spin 1s linear infinite;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

@keyframes dynamic-reloading-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.data-record {
    color: #d63384;
    font-family: var(--bs-font-monospace);
    font-size: .875em;
}

.data-info {
    color: #98aa0e;
    font-family: var(--bs-font-monospace);
    font-size: .875em;
}

