html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 56px; /* Adjust based on header height */
    padding-bottom: 56px; /* Adjust based on footer height */
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it is above other content */
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030; /* Ensure it is above other content */
}

.footer {
    line-height: 60px;
}

.dynamic-reloading-reloading {
    position: relative;
}

    .dynamic-reloading-reloading::before {
        background-color: rgba(200, 200, 200, .5);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .dynamic-reloading-reloading::after {
        content: ' ';
        position: fixed;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        border: 4px solid #fff;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: dynamic-reloading-spin 1s linear infinite;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

@keyframes dynamic-reloading-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.data-record {
    color: #d63384;
    font-family: var(--bs-font-monospace);
    font-size: .875em;
}

.data-info {
    color: #98aa0e;
    font-family: var(--bs-font-monospace);
    font-size: .875em;
}

.table-fixed-header {
}

    .table-fixed-header th, .table-fixed-header td {
        border-right: 1px solid #dee2e6; /* Add vertical column separator lines */
    }

        .table-fixed-header th:last-child, .table-fixed-header td:last-child {
            border-right: none; /* Remove the border from the last column */
        }

    .table-fixed-header tr.top-border td {
        border-top: 2px solid #53a0ec;
    }

/* Override the Offcanvas height */
.offcanvas-chat {
    --bs-offcanvas-height: 40vh; /* Set desired height */
}

.chat-buttons-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    z-index: 1046;
}

.chat-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}